[submodule "so-commons-library"]
	path = so-commons-library
	url = https://github.com/sisoputnfrba/so-commons-library
[submodule "ansisop-parser"]
	path = ansisop-parser
	url = https://github.com/sisoputnfrba/ansisop-parser
