log

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

#Debug

# Settings
*.settings

# Custom
consola/Debug/consola
cpu/Debug/cpu
filesystem/Debug/filesystem
kernel/Debug/kernel
memoria/Debug/memoria

consola/Debug/src/*.o
cpu/Debug/src/*.o
filesystem/Debug/src/*.o
kernel/Debug/src/*.o
memoria/Debug/src/*.o

consola/Debug/src/*.d
cpu/Debug/src/*.d
filesystem/Debug/src/*.d
kernel/Debug/src/*.d
memoria/Debug/src/*.d

utils/Debug/*.o
utils/Debug/*.d
utils/Debug/*.so

*.bin
